DEBUG=False
NEXUS_URL=https://INSTANCE.nexus.kmd.dk/
NEXUS_CLIENT_ID=nexus-client-id
NEXUS_CLIENT_SECRET=nexus-client-secret
NEXUS_REALM=INSTANCE
NEXUS_AUTH_TYPE=auth_v2
SMS_USER=Computopic-username
SMS_PASS=Computopic-password
DOOR_CODES=#1234,#5678